*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #e6e6e6;
}

th, td{
	margin:0px;
	padding:15px;
	border:1px solid #808080;
}
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, gray, #e6e6e6);
}
#navbar{
	width: 100%;
	line-height: 50px;
	position:fixed;
	text-align: center;
	background-color:#000000;
	z-index: 2;
}
#navbar div{
	display: inline-block;
}
#navbar img{
	vertical-align: bottom;
	height:50px;
}

#emblem{
	position: relative;
	color: white;
	border-width: 10px;
}
#left{
	position: absolute;
	left:0px;
}
#right{
	position:absolute;
	right:0px;
}
#container{
	clear: all;
	position:relative;
	top:50px;
	width:100%;
}
#welcomeBox{
	position:relative;
	background-image: url("../images/grayscale.png");
	background-repeat: no-repeat;
background-size: 100% 500px;	
height:500px; 
width:100%;
}
#infoPic{
	height:100px;
	vertical-align: bottom;
}
.infoBoxLeft{
	width:100%;
	background-color:rgba(225,225,225,0.5);
	font-size:0px;
	position:relative;
	z-index: 0;
}
.infoBoxLeft > *{
	font-size:16px;
	display: inline-block;
}
.infoBoxLeft h2{
	font-size: 22px;
	width:100%;
	background-color: blue;
}
.infoBoxLeft p{
	float: top;
	width: 50%;
	top:0px;	
	background-color: blue;
	vertical-align: top;
}
.infoSlider{
	background-color: red;
	position: relative;
	line-height:100px;
}
