	body{
		margin:0;
		background-color: #ecfefe
	}
	#navbar{
		position:fixed;
		left:0px;
		width:200px;
		display:inline;
		height:100vh;
		background-color:white;
	}
	#textcontainer{
		position:absolute;
		top:0;
		right:0;
		width:80%;
		height:100px;
	}
	#header{
		font-size:14;
		color:gray;
		font-family:'Montserrat';	
	}
	div#navbar ul{
		margin:0px;
		padding: 0px;
	}
	div#navbar li{
		color:white;
		line-height: 50px;
		text-align:center;
		list-style:none;
		background-color:gray;
		border:10px;
		padding:3px;
		margin:0px;
	}
#media{
	background-color:black;
	bottom:50px;
	position:absolute;
	height:200px;
	width:200px;
}

img{
	float:left;
	height:100px;
	width:100px;
	opacity: 0.5;
}
